.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    height: 56px;
}

.left-nav {
    display: flex;
    width: 185px;
    height: 40px;
    align-items: center;
    justify-content: space-evenly;
}

.middle-nav {
    display: flex;
    align-items: center;
    height: 40px;
    width: 50%;
}

.search-container {
    height: 100%;
    width: 100%;
    display: flex;
    border: 1px solid gray;
    //hello
}

.right-nav {
    display: flex;
    width: 240px;
    height: 40px;
    justify-content: space-evenly;
    align-items: center;
}

.sign-in {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 105px;
    height: 100%;
    border: 1px solid blue;
    color: blue;
}

.ytlogo {
    height: 24px;
    width: 80px;
}

.search-bar {
    width: 90%
}

.search-btn {
    display: flex;
    justify-content: center;
    border-left: 1px solid gray;
    color: gray;
    width: 10%;
    align-items: center;
}

.svg-inline--fa {
    height: 24px;
    width: 24px;
}

.fa-ellipsis-v:hover, .fa-video:hover, .fa-th:hover, .fa-bars:hover,
.sign-in:hover, .ytlogo:hover, .search-btn:hover, .fa-bell:hover, .fa-user-circle:hover {
    cursor: pointer;
}

.hide {
    display: none;
}

#user {
    position: relative;
}

.logout:hover {
    cursor: pointer;
}

.profile-dropdown {
    position: absolute;
    // z-index: 1;
    top: 50px;
    width: 20%;
}
