<h1> Make a Cat (can be dog) </h1>

<form action='/cats' method='POST'>
    
    <label for='name'><b>Name: </b></label>
    <input id='name' type='text'  name="cat[name]"> 
    <br> <br>

    <b>Choose Gender:   </b>   
    <input name='cat[sex]' id='male' type='radio' value='M'>
    <label for='male'>Male</label>

    <input name='cat[sex]' id='female' type='radio' value='F'> 
    <label for='female'>Female</label>
    <br><br>
    <label for='color'> <b>Color:  </b> </label>
    <select name='cat[color]' id='colors'>  
            <option disabled selected> Please Select
        <% Cat::COLORS.each do |color| %>
            <option value='<%= color %>'><%= color %></option>
        <% end%>
    </select>

    <br><br>
    <label for='birth_date'><b>Birth Date</b></label>
    <input type='date' id='birth_date' name='cat[birth_date]'>
    <br><br>
    <label for='description'><b> Description </b></label>
    <br>
    <textarea id='description' name='cat[description'></textarea>
    <br><br>

    <input type="submit" value='Submit'>
</form>